<h1>Home#index</h1>
<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
    <%= submit_tag 'Lookup' %>
<% end %>

<br/>

<% if @stock %>
    <% if @stock == "" %>
        That stock doesn't exist!
    <% end %>
    <%= @stock.company_name %> <br/>
    $<%= @stock.latest_price %>
<% elsif @nothing %>
    <%= @nothing %>
<% end %>

<% if @error %>
    <%= @error %>
<% end %>